.container {
    max-width: 1140px;
    padding: 20px;
    margin: 0 auto;
}

h2 {
    font-size: 40px;
    text-align: center;
    margin: 0 auto;
    font-family: 'Supermercado One', cursive;
}

p {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.title {
    font-size: 32px;
    margin-bottom: 48px;
    margin-top: 48px;
    font-family: 'Supermercado One', cursive;
}

.text {
    font-size: 24px;
    margin-bottom: 36px;
    max-width: 60%;
    font-family: 'Quintessential', cursive;
}
